<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<img src="https://cdn.worldvectorlogo.com/logos/university-of-surrey.svg"
		style="position:absolute; top:10px; right:30px; border:none;"
       		width="200" 
       		height="75" 
       	/>
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Natural Language Processing Coursework
		</div>
		<h2><center>Project Title</center</h2>
		
	</div>
	</header>
	
	<div class="ml-container">
		<p><b>Choose from the list of companies</b></p>
		<form action="{{ url_for('predict')}}" method="POST">
 	     <input type="checkbox" id="c1" name="c1" value="O2">
              <label for="c1">O2</label><br>
             <input type="checkbox" id="c2" name="c2" value="Safaricom_Care">
              <label for="c2"> Safaricom_Care</label><br>
              <input type="checkbox" id="c3" name="c3" value="VerizonSupport">
              <label for="c3"> VerizonSupport</label><br>
              <input type="checkbox" id="c4" name="c4" value="Idea_cares">
              <label for="c4"> Idea_cares</label><br>
              <input type="checkbox" id="c5" name="c5" value="Sprintcare">
              <label for="c5"> Sprintcare</label><br>
              <input type="submit" value="Submit">
		</form>
	</div>

</body>
</html>
